<p id="notice"><%= notice %></p>
<div class="col-sm-2 sidenav hidden-xs">
      <ul class="nav nav-pills nav-stacked">
      <li><%= link_to 'New Note', new_book_note_path(@book) %></li>
      <% if @notes.length > 0 %>
      	<% @index = @notes.first.page_num %>
      	<% @notes.each do |n| %>
      		<% if @index != n.page_num %>
      			<% @index = n.page_num %>
      			<%= Page @index %>
      			<br>
      		<% end %>
      		<li><%= link_to n.topic, note_path(n) %></li>
      	<% end %>	
      <% end %>	
      </ul><br>
    </div>
    <div class="col-sm-9">
		<p>
		  <strong>Title:</strong>
		  <%= @book.title %>
		</p>

		<p>
		  <strong>Author:</strong>
		  <%= @book.author %>
		</p>

		<p>
		  <strong>Filename:</strong>
		  <%= @book.filename %>
		</p>

		<%= link_to 'Edit', edit_book_path(@book) %> |
		<%= link_to 'Back', books_path %>
	</div>
